@media(max-width:768px){

.nav-menu{
display:none;
}

.menu-toggle{
display:block;
}

.hero-content h2{
font-size:36px;
}

.hero-content p{
font-size:16px;
}

.profil-content{
    flex-direction:column;
}

.profil-text{
    text-align:center;
}

.profil-text p{
    text-align:justify;
}

@media(max-width:992px){

.gallery-grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:576px){

.gallery-grid{
    grid-template-columns:1fr;
}

}

@media(max-width:768px){

.footer-container{
    grid-template-columns:1fr;
    text-align:center;
}

.footer img{
    margin:auto;
    margin-bottom:20px;
}

}

@media (max-width:768px){

    .map-container{
        width:100%;
        height:300px;
        border-radius:20px;
    }

    .map-section h3{
        font-size:24px;
    }

}

}